<div class="wrapperGlobal">
  <header>
    <h2>{{ "yourBoardsLive" | translate }}</h2>
    <form action="" [formGroup]="searchGroup">
      <label>{{ "search" | translate }}
        <input type="text" name="search" formControlName="search">
      </label>
    </form>
  </header>
  <nav>
    <button (click)="openModalWindow()" (click)="appearSmoothly()">{{ "createNewBoard" | translate }} <br>+</button>
    <app-modal-window (addBoard)="onAddBoard($event)"
      [(modalVisibility)]="modalVisibility" [class.visuallyHidden]="!modalVisibility" [(loaded)]="loaded">
    </app-modal-window>
    <app-board-list [boardList]="boardList"></app-board-list>
  </nav>
</div>
