.wrapperGlobal {
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  & button {
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    background-color: var(--light-sea-color);
    &:hover {
      color: #000;
      background-color: var(--extralight-sea-color);
    }
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  & h2 {
    margin-left: 0.8rem;
    margin-bottom: 0;
  }
}

nav {
  justify-content: flex-start;
  width: 80%;
  margin: auto;
}

form {
  width: min-content
}

@media all and (width < 768px) {
  header {
    display: block;
  }
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  form {
    padding: 1rem 0;
  }
}
