<form #signUpForm="ngForm" novalidate ngClass="initial" [class.smoothAppear]="loaded">
  <fieldset>

    <h2>{{ "signUpForm" | translate}}</h2>

    <div class="wrapper">
      <label for="name">{{ "name.label" | translate }}</label>
      <input id="name" type="text"
      [placeholder]="'name.placeholder' | translate"
      name="name"
      [(ngModel)]="signupForm.name" [ngModelOptions]="{ updateOn: 'blur' }"
      #name="ngModel"
      pattern="[а-яА-Яa-zA-Z -]{2,20}" required>
    </div>
    <div translate class="text-danger">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <span translate *ngIf="name.errors?.['required']">
          requiredErrorMessage
        </span>
        <span translate *ngIf="name.errors?.['pattern']">
          nameErrorMessage
        </span>
      </div>
    </div>


    <div class="wrapper">
      <label for="surname">{{ "surname.label" | translate }}</label>
      <input id="surname" type="text"
      [placeholder]="'surname.placeholder' | translate"
      name="surname"
      [(ngModel)]="signupForm.surname" [ngModelOptions]="{ updateOn: 'blur' }"
      #surname="ngModel"
      pattern="[а-яА-Яa-zA-Z -]{2,20}" required>
    </div>
    <div translate class="text-danger">
      <div *ngIf="surname.invalid && (surname.dirty || surname.touched)">
        <span translate *ngIf="surname.errors?.['required']">
          requiredErrorMessage
        </span>
        <span translate *ngIf="surname.errors?.['pattern']">
          surnameErrorMessage
        </span>
      </div>
    </div>


    <div class="wrapper">
      <label for="email">{{ "email.label" | translate }}</label>
      <input id="email" type="email"
      [placeholder]="'email.placeholder' | translate"
      name="email"
      [(ngModel)]="signupForm.email" [ngModelOptions]="{ updateOn: 'blur' }"
      #email="ngModel" appEmailExists required>
    </div>
    <div translate class="text-danger">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <span translate *ngIf="email.errors?.['required']">
          requiredErrorMessage
        </span>
        <span translate *ngIf="email.errors?.['email']">
          emailErrorMessage
        </span>
        <span translate *ngIf="email.errors?.emailExists">
          emailErrorMessage2
        </span>
      </div>
    </div>


    <div class="wrapper">
      <label for="password">{{ "password.label" | translate }}</label>
      <div class="secure">
        <input id="password" [type]="show ? 'text' : 'password'"
        [placeholder]="'password.placeholder' | translate"
        name="password"
        [(ngModel)]="signupForm.password"
        #password="ngModel"
        minlength="6" required>
        <button class="seeThePassword" (click)="togglePassword()" [ngClass]="show ? 'closed' : 'opened'"></button>
      </div>
    </div>
    <div translate class="text-danger">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <span translate *ngIf="password.errors?.['required']">
          requiredErrorMessage
        </span>
        <span translate *ngIf="password.errors?.['minlength']">
          passwordErrorMessage
        </span>
      </div>
    </div>


    <div class="wrapper">
      <label for="password2">{{ "password2.label" | translate }}</label>
      <div class="secure">
        <input id="password2" [type]="show2 ? 'text' : 'password'"
        [placeholder]="'password2.placeholder' | translate"
        name="password2"
        [(ngModel)]="signupForm.password2"
        #password2="ngModel" [appPasswordsEqual]="'password'"
        required>
        <button class="seeThePassword" (click)="togglePassword2()" [ngClass]="show2 ? 'closed' : 'opened'"></button>
      </div>
    </div>
    <div translate class="text-danger">
      <div *ngIf="password2.invalid && (password2.dirty || password2.touched)">
        <span translate *ngIf="password2.errors?.['required']">
          requiredErrorMessage
        </span>
        <span translate *ngIf="password2.errors?.passwordMismatch">
          passwordErrorMessage2
        </span>
      </div>
    </div>

    <div class="wrapper submitting">
      <input type="submit" [value]="'signup' | translate" (click)="onAddUser(signUpForm.value)"
      [disabled]="!signUpForm.valid" >
    </div>
  </fieldset>
  <button type="button" (click)="goBack()">{{ "return" | translate }}</button>
</form>
<div class="overlay" *ngIf="successfulRegistration">
  <div class="modal">
    <h2>{{ "success" | translate }}</h2>
    {{ "youAreRegistered" | translate }}
  </div>
</div>
