<div class="wrapperGlobal">
  <header>
    <h2>{{ "yourBoardsLive" | translate }}</h2>
    <form action="" [formGroup]="searchGroup">
      <div class="wrapper">
        <button type="button" (click)="filterResults(filter.value)">{{ "search" | translate }}</button>
        <input type="text" name="search" formControlName="search"
        [placeholder]="'iWantToFind' | translate" #filter>
      </div>
    </form>
  </header>
  <nav>
    <button (click)="openModalWindow()" (click)="appearSmoothly()">
      {{ "createNewBoard" | translate }} <br>+</button>
    <app-modal-window (addBoard)="onAddBoard($event)"
      [(modalVisibility)]="modalVisibility" [class.visuallyHidden]="!modalVisibility" [(loaded)]="loaded">
    </app-modal-window>
    <app-board-list [boardList]="boardList" [filteredBoardList]="filteredBoardList"></app-board-list>
  </nav>
</div>
