<div class="overlay">
  <div class="modal" role="dialog" aria-labelledby="modalTitle"
  ngClass="initial" [class.smoothAppear]="loaded">
    <h2 id="modalTitle">{{ "newProject" | translate }}</h2>
    <button class="close" aria-label="'close' | translate" (click)="removeModalWindow()">&#10006;</button>
    <form #boardForm="ngForm" (submit)="onSubmit()" novalidate>
      <fieldset>
        <label for="background">{{ "background" | translate }}</label>

        <div class="wrapper flex">
          <div *ngFor="let item of backgrounds">
            <label for="{{ item.id }}">
              <img class="small" (click)="onChooseBack(item.value)"
                [class.selected]="item.value === selectedBack"
                src="{{ item.src }}" alt="{{ item.alt | translate }}">
              <input id="{{ item.id }}" type="radio" [checked]="true"
                [(ngModel)]="backgroundName" name="backgroundName" value="{{ item.value }}">
              <span>&#10004;</span>
            </label>
          </div>
        </div>

        <label for="title">{{ "title" | translate }}</label>
        <textarea rows="3" id="title" type="text" [(ngModel)]="boardName"
        name="boardName" required #title="ngModel"></textarea>
        <div translate class="text-danger">
          <div *ngIf="title.invalid && (title.dirty || title.touched)">
            <span *ngIf="title?.errors?.['required']">
              {{ "requiredErrorMessage" | translate }}
            </span>
          </div>
        </div>

        <label for="description">{{ "description" | translate }}</label>
        <textarea rows="5" id="description" type="text" [(ngModel)]="descriptionName"
        name="descriptionName"></textarea>

      </fieldset>
      <div class="submButtons">
        <button type="button" class="cancel"(click)="removeModalWindow()">{{ "cancel" | translate }}</button>
        <button type="submit" [disabled]="!boardForm.valid">{{ "continue" | translate }}</button>
      </div>
    </form>
  </div>
</div>
