:root {
  --sea-color: #14dcc4;
  --beach-color: #ffd786;
  --cranberry-color: #a30505;
  --dark-sea-color: #09657b;
  --dark-sea-color-transparent: #09647b83;
  --middle-sea-color: #3e717c;
  --light-sea-color: #5ba0aa;
  --extralight-sea-color: #9ccccc;
}

html {
  background-color: var(--light-sea-color);
  z-index: -2;
}

body {
  margin: 0;
}

h1 {
  color: var(--dark-sea-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 250%;
  &:hover{
    color: var(--middle-sea-color);
    cursor: pointer;
  }
}

h2 {
  font-size: 190%;
}

h2, h3 {
  color: var(--middle-sea-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0.8rem;
}

button, input[type="submit"], input[type="reset"] {
  background-color: var(--dark-sea-color);
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.8rem;
  margin: 0.8rem;
  &:hover {
    background-color: var(--middle-sea-color);
    color: white;
  }
  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
}

@mixin flexible () {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wrapperGlobal, section {
  @include flexible();
  max-width: 1440px;
  margin: auto;
}

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

@mixin formSetting () {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  max-width: 310px;
  justify-content: space-between;
  overflow-y: hidden;
}

@mixin inputting () {
  border-radius: 5px;
  margin-left: 0.5rem;
  width: 12rem;
  padding: 0.2rem;
  padding-left: 1rem;
  &::placeholder {
    color: var(--middle-sea-color);
  }
  background-color: #eee;;
}

form {
  @include formSetting();
  // transition:all 0.5s;
  // transform: translateY(50px);
  & div.submitting {
    @include flexible()
  }
  & fieldset {
    background-color: var(--extralight-sea-color);
    margin-bottom: 1rem;
  }
  & .wrapper {
    margin: 0.6rem 0 -0.2rem;
  }
  & label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  & select {
    @include inputting();
    width: 13.5rem;
  }
  & input {
    @include inputting();
  }
  & input[type="submit"], button {
    margin: 0.5rem auto 0.5rem;
    width: max-content;
  }
  & .submButtons {
    display: flex;
  }
}

.text-danger {
  font-size: 0.7rem;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  height: 16px;
  & span {
    color: var(--cranberry-color);
  }
}

.seeThePassword {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light-sea-color);
  border: 2px solid var(--middle-sea-color);
  margin: 0 auto;
  opacity: 0.7;
  &:hover{
    background-color: var(--extralight-sea-color);
  }
  &.opened{
    background-image: url("../src/assets/icons/eye.png");
  }
  &.closed{
    background-image: url("../src/assets/icons/closed_eye.png");
  }
}

.secure {
  display: flex;
  align-items: center;
}

@mixin hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position:absolute;
  white-space: nowrap;
}

.visuallyHidden {
  @include hidden()
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 1, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  @include formSetting();
  background-color:#eee;
  overflow: auto;
  position: relative;
  & [type="radio"] {
    @include hidden()
  }
  & h2 {
    color: #888;
  }
  & button.close {
    background-color: transparent;
    position: absolute;
    border: none;
    right: 2px;
    padding: 2px 5px;
    font-size: 1.4rem;
    color: #888;
  }
  & .cancel {
    background-color: var(--light-sea-color);
  }
}


@media (width < 640px) {
  h1 {
    font-size: 220%;
  }
  h2 {
    font-size: 150%;
  }
}
