<section>
  <div class="content">
    <h2>{{ "welcome" | translate}}</h2>
    <p><q>{{ "ifYouAsk" | translate}}</q>&#9400;</p>
  </div>
  <div class="background welcome1">
  </div>
</section>
<section>
  <div class="content">
    <h2>{{ "functionality" | translate}}</h2>
    <p>{{ "youWillBe" | translate}}<em>{{"colorfulBoards" | translate}}</em>
      {{"or" | translate}} <em>{{"orderedLists" | translate}}</em>. <em>{{"comments" | translate}}</em> {{"toEachProject" | translate}}.</p>
  </div>
  <div class="background welcome2">
  </div>
</section>
<section>
  <div class="content">
    <h2>{{ "aboutTheAuthor" | translate}}</h2>
    <p>{{ "thisAppWas" | translate}}</p>
    <p>{{ "ekaterinaDronova" | translate}}</p>
    <p>{{ "consultingMentor" | translate}}</p>
  </div>
  <div class="background welcome3">
  </div>
</section>
