section {
  box-sizing: border-box;
  background-color: var(--extralight-sea-color);
  padding: 0.4em 370px 0.4rem 2vw;
  margin-top: 1em;
  position: relative;
}

div.content {
  min-height: 120px;
  width: 590px;
  text-align: left;
  margin: auto;
  opacity: 1;
  z-index: 2;
}

@each $back in 1, 2, 3 {
  .welcome#{$back} {
    background: url(../../../assets/welcome#{$back}.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    right: 2vw;
    top: 5px;
    bottom: 5px;
    border-radius: 5px;
    width: 320px;
    opacity: 0.8;
  }
}

h2, h3 {
  color: var(--middle-sea-color);
}
