.wrapperGlobal {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  margin: 0 15px;
  min-height: 70vh;
  border-width: 3px;
  border-style: outset;
  border-radius: 8px;
  box-shadow: inset 0px 180px 50px -50px #fff;
  border: 1px solid black;
  text-shadow: 3px 3px 30px #fff;
  z-index: 1;
  & p {
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  & h2 {
    margin: auto;
    font-size: 2.2rem;
  }
}

button {
  background-color: var(--light-sea-color);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 30px;
  & p {
    margin: 0.8rem;
  }
}

.deleting {
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  background-color: var(--light-sea-color);
}

.creation {
  background-color: #fff;
  box-shadow: 1px 1px 2px #000;
  &:hover {
    background-color: var(--extralight-sea-color);
    color: #000;
  }
}

nav {
  justify-content: flex-start;
  margin: auto;
}

form {
  width: min-content
}

app-columns-list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: inherit;
  max-width: 70vw;
  overflow-x: auto;
  &.cdk-drop-list-dragging {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);;
  }
}

@media all and (width < 768px) {
  div.wrapperGlobal {
    margin: 15px;
  }
}

@media all and (width < 600px) {
  app-columns-list {
    max-width: 75vw;
  }

  .wrapper {
    flex-direction: column;
  }
  .wrapperGlobal {
    box-shadow: inset 0px 250px 60px -50px #fff;
  }
}

@media all and (width > 1440px) {
  .wrapperGlobal {
    margin: 0 auto;
  }
}
