<div class="wrapperGlobal" style="background-image: url('../../../assets/images/{{background}}.jpg')">
  <header>
    <div class="wrapper">
      <p>{{ 'board' | translate }} №{{ id }}</p>
      <h2>{{ boardTitle }}</h2>
      <button class="return" type="button" (click)="goBack()">{{ "return" | translate }}</button>
    </div>
    <div><p>{{ boardDescription }}</p></div>
  </header>
  <nav class="wrapper">
    <button (click)="openModalWindow()" (click)="appearSmoothly()">
      {{ "createNewColumn" | translate }} <br>+</button>
    <app-modal-column (addBoard)="onAddColumn($event)" [boardId]="boardId"
      [(modalVisibility)]="modalVisibility" [class.visuallyHidden]="!modalVisibility" [(loaded)]="loaded">
    </app-modal-column>
    <app-columns-list [columnList]="columnList"></app-columns-list>
  </nav>
</div>
<app-confirmation></app-confirmation>
