<div class="wrapperGlobal">
  <header>
    <h2>Name of Board!</h2>
    <button type="button" (click)="goBack()">{{ "return" | translate }}</button>
  </header>
  <nav class="wrapper">
    <button (click)="openModalWindow()" (click)="appearSmoothly()">
      {{ "craeteNewColumn" | translate }} <br>+</button>
    <app-modal-window (addBoard)="onAddColumn($event)"
      [(modalVisibility)]="modalVisibility" [class.visuallyHidden]="!modalVisibility" [(loaded)]="loaded">
    </app-modal-window>
    <app-columns-list [columnList]="columnList"></app-columns-list>
  </nav>
</div>
<app-confirmation></app-confirmation>
