.wrapperGlobal {
  box-sizing: border-box;
  margin: 30px;
  min-height: 70vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-width: 3px;
  border-style: outset;
  border-radius: 8px;
  box-shadow: inset 0px 180px 150px -50px #fff;
  z-index: 1;
  text-align: center;
  border: 1px solid black;
  text-shadow: 3px 3px 30px #fff;
  & p {
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  & h2 {
    margin: auto;
    color: var(--berry-color);
  }
}

button {
  background-color: var(--light-sea-color);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  & p {
    margin: 0.8rem;
  }
}

.deleting {
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  background-color: var(--light-sea-color);
}

nav {
  justify-content: flex-start;
  width: 80%;
  margin: auto;
}

form {
  width: min-content
}

