<div class="wrapperGlobal">
  <h1 routerLink="pma/main">{{title}}</h1>
  <nav>
    <button *ngIf="!loggedIn" type="button" routerLink="pma/login">
      &#10140; {{ "login" | translate }}</button>
    <button *ngIf="!loggedIn" type="button" routerLink="pma/signup">
      {{ "signup" | translate }} &#10009;</button>
    <button *ngIf="loggedIn" type="button" routerLink="pma/welcome" (click)="onLogOut()">
      &#10006; {{ "logout" | translate }}</button>
    <button *ngIf="loggedIn" type="button" routerLink="pma/edit-profile">
      {{ "editProfile" | translate }} &#9998;</button>
  </nav>
  <nav>
    <button type="button" class="{{language.code}}-button" *ngFor="let language of languageList"
      (click)="changeSiteLanguage(language.code)">{{language.code}}</button>
  </nav>
</div>
