<section>
  <div class="content">
    <h2>Welcome to the page of a new Project Management app</h2>
    <p>Here you can work together with your mates via colorful boards, ordered lists or calendars.</p>
    <p>Messages and comments to each item are included, too!</p>
  </div>
  <div class="container">
    <img src="" alt="screenshot of the app">
  </div>
</section>
<section>
  <div class="content">
    <h2>About the developer</h2>
    <p>This app was done by Ekaterina Dronova, a young front end developer.</p>
    <p>By the way, here was practiced not only Angular, but also SCSS.</p>
    <p>Consulting mentor - Andrei Milashevich, thanks to him a lot for this.</p>
  </div>
  <div class="container">
    <img src="" alt="developer's foto">
  </div>
</section>
<section>
  <div class="content">
    <h2>About the course</h2>
    <p>Wonderful heavy online course UpskillMe Front_End from EPAM company collaborated with RS school.</p>
  </div>
  <div class="container">
    <img src="" alt="studying">
  </div>
</section>
