<form [formGroup] ="loginForm" novalidate ngClass="initial" [class.smoothAppear]="loaded">
  <fieldset>
    <h2>{{ "logInForm" | translate}}</h2>


    <div class="wrapper">
      <label for="email">{{ "email.label" | translate }}</label>
      <input id="email" type="email" formControlName="email"
        [placeholder]="'email.placeholder' | translate">
    </div>
    <div translate class="text-danger">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <span *ngIf="email?.errors?.['required']">
          {{ "requiredErrorMessage" | translate }}
        </span>
        <span *ngIf="email?.errors?.['email']">
          {{ "emailErrorMessage" | translate }}
        </span>
        <span *ngIf="email?.errors?.emailNotExists">
          {{ "emailErrorMessage3" | translate }}
        </span>
      </div>
    </div>


    <div class="wrapper">
      <label for="password">{{ "password.label" | translate }}</label>
      <div class="secure">
        <input [type]="show ? 'text' : 'password'" id="password"
        [placeholder]="'password.placeholder' | translate"
        formControlName="password">
        <button class="seeThePassword" (click)="togglePassword()"
        [ngClass]="show ? 'closed' : 'opened'"></button>
      </div>
    </div>
    <div translate class="text-danger">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <span *ngIf="password?.errors?.['required']">
          {{ "requiredErrorMessage" | translate }}
        </span>
        <span *ngIf="password?.errors?.passwordIsCorrect">
          {{ "passwordErrorMessage3" | translate }}
        </span>
      </div>
    </div>


    <div class="wrapper submitting">
      <!-- <input type="submit" [value]="'login' | translate" routerLink="/pma/main"
      [disabled]="!loginForm.valid"> -->
      <input type="submit" [value]="'login' | translate" (click)="onLogIn()"
      [disabled]="!loginForm.valid">
    </div>

  </fieldset>
  <button type="button" (click)="goBack()">{{ "return" | translate }}</button>
</form>

