.column {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: visible;
  border-width: 3px;
  border-style: outset;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #000;
  background-color: #fff;
  text-align: center;
}
button {
  background-color: var(--light-sea-color);
  &.deleting {
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    background-color: var(--light-sea-color);
    &:hover {
      background-color: var(--cranberry-color);
    }
  }
  &:hover {
    background-color: var(--dark-sea-color);
  }
}
.box {
  align-self: flex-start;
  padding: 0;
  margin: 0;
  min-height: 80px;
  width: 100%;
  & input {
    margin-left: 70px;
    padding-left: 0.5rem;
    margin-top: 1.5rem;
    width: 10rem;
  }
}

h3 {
  margin-left: 80px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  padding: 2px;
  border-bottom: 2px dotted #000;
}

.editButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 5px;
  top: 5px;
  & button {
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    margin: 5px;
  }
  & .cancel {
    background-color: var(--beach-color);
    box-shadow: inset 0px 0px 15px 5px var(--cranberry-color);
    &:hover {
      box-shadow: inset 0px 0px 20px 8px var(--cranberry-color);
    }
  }
}
